.image_Icon {
    border-radius: 5px;
    border: 0.7px solid #003197;
    padding: 30px 0px 20px;
}

.Quotations {
    border-radius: 7px;
    border: 0.0001px solid #e9e4e4;
    background: #FFF;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}